// 이 파일은색상, 폰트, 크기 같은 "반복되는 값"을 변수로 관리한다.

// 색상 변수
$blue-color: #336af8;
$light-blue-color: #cddafe;
$red-color: #eb3f56;
$green-color: #35c75a;
$dark5-color: #000000;
$dark4-color: #363636;
$dark3-color: #808080;
$dark2-color: #8d8d8d;
$dark1-color: #acacac;
$dark0-color: #e6e6e6;
$gray-color: #f2f2f2;
$white-color: #ffffff;

// 폰트 변수
$font-main: "Noto Sans", sans-serif;

// 크기 변수(예시)
// $max-width: 1200px;
