@use "/src/styles" as style;

.cardWrapper {
  @include style.flexCenter;
  position: relative;
  justify-content: space-between;
  width: 90dvw;
  padding: 14px 16px;
  margin: 12px 16px;
  background-color: white;
  border-radius: 24px;
  border: 1px solid style.$dark0-color;
}

.ViewCount {
  @include style.flexAlignCenter;
  gap: 4px;
  font-size: 12px;
  color: style.$dark2-color;
  svg {
    width: 14px;
    height: 14px;
  }
}
