@use "/src/styles" as style;

.bannerWrapper {
  @include style.flexCenter;
  width: 90dvw;
  background-color: white;
  border-radius: 16px;
  padding: 16px 16px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  margin: 120px 0px 40px 0px;
  justify-content: space-between;
}

.bannerLeft {
  @include style.flexCenter;
}

.bannerIcon {
  @include style.flexCenter;
  width: 64px;
  height: 64px;
  border-radius: 16px;
  background-color: style.$blue-color;
  margin-right: 16px;

  svg path {
    background: linear-gradient(to right, white, style.$blue-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
